*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 3rem auto;
    border: 2px solid black;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}